body{
	background: #aaa;
}

#cv{
	background: #fff;
}

input[type='number'],input[type='button'] {
	padding: 5px;
	box-sizing: border-box;
}

#ctrl {
	margin-top: 2px;
	line-height: 35px;
}

.wds {
	display: inline-block;
	height: 29px;
	width: 29px;
	cursor: pointer;
	vertical-align: bottom;
}
.wds span {
	display: inline-block;
	margin: 2px;
	width: 23px;
	border-top-style: solid;
	border-top-color: #000;
}

#width {
	width: 50px;
}

span {
	box-sizing: border-box;
}
.cls {
	display: inline-block;
	height: 29px;
	width: 29px;
	border: 1px solid #aaa;
	cursor: pointer;
	vertical-align: bottom;
}
.cls span {
	display: inline-block;
	margin: 2px;
	height: 23px;
	width: 23px;
	border: 1px solid #aaa;
}
#c1 { background: #000; }
#c2 { background: #fff; }
#c3 { background: #f00; }
#c4 { background: #080; }
#c5 { background: #00f; }
#c6 { background: #800; }
#c7 { background: #fd0; }
#c8 { background: #fcc; }
#c9 { background: #888; }
#c10 { background: #000; }

.cur { border: 1px solid #f55; }